# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environments
venv/
.venv/
env/
ENV/

# Sensitive data & local configurations
.env
cookies.txt

# Media & Temporary files
downloads/
temp/
/tmp/
*.mp4
*.mp3
*.m4a
*.webm

# Logs
*.log

# Operating System files
.DS_Store
Thumbs.db

# Misc
tree